body{
    background-color: black;
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

header, footer{
    text-align: center;
    font-weight: bold;
    font-size: 130%;
}

.carta {
    MARGIN:2% auto;
    margin-bottom: 3%;
}

.acme-regular {
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  @keyframes blinkText {
    0% { color: #343a40; } /* Color original del texto */
    50% { color: white; }
    100% { color: #343a40; }
  }
  
  .blink {
    animation: blinkText 1s infinite;
  }
  
  